@model IEnumerable<Artikal>

    <link href="~/css/main.css" rel="stylesheet" />

<p>Ukupno: @Model.Count()</p>


    <table>
        <thead>
            <tr>
                <td>Naziv</td>
                <td>Sifra</td>
                <td>Cena</td>
            </tr>
        </thead>
        <tbody class="row100">
            @foreach (var t in Model)
            {
                <tr>
                    <td>@t.Naziv</td>
                    <td>@t.Sifra</td>
                    <td>@t.Cena</td>
                </tr>
            }
        </tbody>
    </table>    
