@model Exercise.Models.ErrorViewModel

@{
    ViewData["Title"] = "Kontakt";
}

<h1>Contact exercize</h1>
<address>Gece Kona 7<br />
         11160 MML, Belgrade<br />
    <abbr title="Phone">P:</abbr>
    011/347-1965
    </address>

<form method="post">
    <textarea name="Message"></textarea>
    <input type="submit" name="Send" value="Send" />
</form>


<h3>@ViewBag.Message</h3>
<!--       _
       .__(.)< (MEOW)
        \___)
 ~~~~~~~~~~~~~~~~~~-->
