@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli na gruvanje </h1>
    <p>Saznajte o <a href="http://www.gsoftware.rs">Kreiranje veštačke inteligencije</a>.</p>
</div>
