@model IEnumerable<Product>

    <link href="~/css/main.css" rel="stylesheet" />

<p>Ukupno: @Model.Count()</p>


    <table>
        <thead>
            <tr>
                <td>Naziv</td>
                <td>Kategorija</td>
                <td>Cena</td>
            </tr>
        </thead>
        <tbody class="row100">
            @foreach (var t in Model)
            {
                <tr>
                    <td>@t.Title</td>
                    <td>@t.Category</td>
                    <td>@t.Price</td>
                </tr>
            }
        </tbody>
    </table>    
